body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 50px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select[multiple] {
    height: 120px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #121633;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #121633;
}

#skillsContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.skill-tag {
    display: inline-block;
    background: #121633;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px;
    font-size: 14px;
}

.skill-tag span {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
}

.addNewTags{
    margin: 5px;
    background: #121633;
    color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}